.homes{
  .header{
    width: 100%;
    height: 3.3rem;
    .addres{
      float: left;
      width: 4rem;
      height: 100%;
      margin-left: 0.6rem; 
      span{
        display: block;
        float: left;
        margin: 1.5rem .1rem;
      }
      .addres-name{
        font-size: 13px;
      }
      .black{
        width: 1.5rem;
        height: 1.5rem;
        transform: rotate(-90deg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(./imgs/black.png);
      }
    }
    .homes-search{
      float: left;
      margin-top: 0.5rem;
      width: 16rem;
      height: 2rem;
      border-bottom: 1px solid #9acd56;
      input{
        float: left;
        border: none;
        outline: none;
        margin-top: 0.5rem; 
        font-size: 14px;
        width: 14rem;
        height: 1.5rem;
      }
      .homes-search-img{
        display: block;
        float: left;
        margin-top: 0.5rem;
        margin-left: 0.2rem;
        width: 1.3rem;
        height: 1.3rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(./imgs/searchs.png);
      }
    }
    .service{
      float: left;
      width: 4rem;
      height: 100%;
      margin-top: 0.1rem;
      text-align: center;
      .service-img{
        display: block;
        margin: 0.4rem auto 0 auto;
        width: 1.2rem;
        height: 1.2rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(./imgs/messages.png);
      }
      p{
        font-size: 10px;
        color: #9acd56;
      }
    }

  } 
  .slider{
    height: 12rem;
    .slide-component{
      width: 100%;
      overflow: hidden;
      ul{
        float: left;
        transition: 1s;
        height: 12rem;
        margin-bottom: 1rem;
        li{
          width: 26rem;
          float: left;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
      .last{
        width: 26rem;
        float: left;
        margin-top: -13rem;
        margin-left: 26rem;
        height: 12rem;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .last-left{
        margin-left: 0rem;
        transition: 1s;
      }
      .slide-point{
        ul{
          width: 10rem;
          height: 2rem;
          position: relative;
          left: 50%;
          top: -3rem;
          margin-left: -5rem;
          .point{
            margin: 0 0.5rem; 
            display: block;
            width: 0.5rem;
            height: .5rem;
            background: #c5c5c5;
            position: relative;
            right: -20%;
            top: 1rem;
            border-radius: 50%;
          }
          .current{
            background: orange;
          }
        }
        
      }
    }
  }
  .nav{
    width: 100%;
    height: 11rem;
    margin-top: 1rem;
    ul{
      width: 95%;
      height: 10rem;
      margin: 0.5rem auto;
      li{
        float: left;
        width: 25%;
        height: 5rem;
        span{
          display: block;
          width: 2.8rem;
          height: 2.8rem;
          margin: 0 auto;
          border-radius: 50%;
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
        p{
          margin-top: 0.5rem;
          text-align: center;
          font-size: 12px;
        }
        .hot-sell-img{
          background-image: url(./imgs/hot-sell.png);
        }
        .seafood-img{
          background-image: url(./imgs/seafood.png);
        }
        .meat-img{
          background-image: url(./imgs/meta.png);
        }
        .eggs-img{
          background-image: url(./imgs/eggs.png);
        }
        .flavour-img{
          background-image: url(./imgs/flavour.png);
        }
        .grain-img{
          background-image: url(./imgs/grain.png);
        }
        .beverage-img{
          background-image: url(./imgs/beverage.png);
        }
        .other-img{
          background-image: url(./imgs/other.png);
        }
      }
    }
  } 
  .quarantine{
    width: 100%;
    height: 1rem;
    background: #eee;
  }
  .hot-sells{
   width: 100%;
   .hot-sells-head{
      width: 100%;
      height: 2rem;
      .hot-sells-title{

        text-align: center;
        font-size: 14px;
        margin-top: 0.8rem;
      }
      .hot-sells-more{
        display: block;
        float: right;
        margin-top: -0.8rem;
        font-size: 12px;
        width: 6rem;
        span{
          float: right;
        }
      }
      .hot-sells-more-text{
        margin-right: -0.2rem;
      }
      .hot-sells-more-img{
        display: block;
        float: right;
        width: 1.5rem;
        height: 1.5rem;
        margin-top: -0.3rem;
        margin-right: .5rem;
        transform: rotate(180deg);
        background-image: url(./imgs/black.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    } 
    .hot-sells-goods{
      width: 100%;
      li{
        width: 100%;
        height: 9.5rem;
        .hot{
          width: 3.4rem;
          height: 1.2rem;
          position: absolute;
          background-image: url(./imgs/hot.png);
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
        .isolation{
          width: 100%;
          height: 0.8rem;
          background: #eee;
          float: left;
        }

        .hot-sells-goods-img{
        float: left;
          width: 8rem;
          height: 7.5rem;
          margin: 0.5rem 1rem 0.5rem 0.5rem;
          border: 1px solid red;
          background: red;
        }
        .hot-sells-goods-content{
          float: left;
          width: 14rem;
          height: 7.5rem;
          margin: 0.5rem 0;
          .hot-sells-goods-price-cart{
            width: 100%;
            height: 2rem;
          }
          .hot-sells-goods-introduce{
            overflow: hidden;
            font-weight: 3px;
            font-weight: 900;
            line-height: 15px;
          }
          .hot-sells-goods-addres{
            margin-top: 0.7rem;
            color: #666;
            font-size: 12px;
          }
          .hot-sells-goods-price{
            display: block;
            float: left;
            margin-top: 1rem;
            font-size: 15px;
            color: #ff3366;
          }
          .hot-sells-goods-cart{
            display: block;
            float: right;
            width: 2rem;
            margin-top: 0.5rem;
            height: 2rem;
            background-image: url(./imgs/ShoppingCart.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
          }
          .hot-sells-goods-distribution{
            margin-top: 0.5rem;
            font-size: 12px;
            width: 11rem;
            color: #999;
            .distribution{
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
  .brand{
    .brand-recommendation{
      width: 100%;
      height: 3rem;
      text-align: center;
      line-height: 3rem;
      color:#ff3366;
      font-size: 16px;
    }
    .brand-recommend{
      width: 100%;
      height: 12rem;
      border: 1px solid red;
      .brand-left{
        float: left;
        width: 50%;
        height: 100%;
        background: red;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .brand-right{
        float: left;
        width: 50%;
        height: 6rem;
        background: orange;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }

  }
  .brand-details{
    .brand-tetle{
      width: 100%;
      height: 3rem;
      line-height: 3rem;
      span{
        
      }
      .aquatic-product-img{
        display: block;
        width: 0.5rem;
        border-left: 6px solid green;
        height: 1.5rem;
        margin: 0.5rem 1rem;
        float: left;
      }
      .aquatic-product-text{
        display: block;
        float: left;

      }
      .aquatic-product-more{
        float: right;
        dsplay: block;
        float: rigth;
        .brand-details-more{
        float: left;
        dsplay: block;

        }
        .brand-details-more-img{
          float: left;
          display: block;
          width: 2rem;
          height: 2rem;
          transform: rotate(180deg);
          margin-top: 0.4rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url(./imgs/black.png);
        }
      }

    }
    .brand-recommend-details{
      overflow: scroll;
      height: 11rem;

      ul{
        height: 100%;
        width: 100rem;
        li{
          float: left;
          width: 8rem;
          height: 11rem;
          border: 1px solid red;
          p{
            font-size: 10px;
            color: #777;
          }
          .brand-recommend-img{
            width: 100%;
            height: 8rem;
            background: red;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .brand-p{

            margin-top: 0.5rem;
            .brand-price{
              display: block;
              float: left;
              color: #ff3366;
            }
            .brand-price-original{
              float: right;
              display: block;
              color: #999;
              font-size: 10px;
            }
          }
        }
      }
    }
    .isolation{
      width: 100%;
      height: 1rem;
      background: #eee;
    }
  }
}
