*{margin:0;padding:0;}
ul{
  list-style: none; 
}
a{
  text-decoration:none;
}
button{
  outline: none;
}
$size: 100% 100%;
$repeat: no-repeat;
  .babackground{
    background-size: $size;
    background-repeat: $repeat;
  }
#content{

  .search{
    width: 100%;
    height: 3rem;
  }

  .search-tpl{
    float: left;
    margin: 0.9rem 0.5rem 0rem 1rem;
    width: 1.7rem;
    height: 1.7rem;
    background-image: url(./imgs/tpl.png);
    background-size: $size;
    background-repeat: $repeat;
  }

  .search-search{
    margin: 0.9rem 0 0 0;
    float: left;
    width: 18rem;
    height: 1.6rem;
    border-radius: 0.5rem;
    background-color: #f2f2f2;

    .search-img{
      float: left;
      margin: 0.45rem 0.7rem;
      display: block;
      width: 1rem;
      height: 1rem;
      background-image: url(./imgs/search.png);
      background-size: $size;
      background-repeat: $repeat;
    }

    .search-input{
      float: left;
      margin: 0.3rem 0;
      width: 12rem;
      height: 1rem;
      outline:none;
      color: #a3a3a3;
      font-size: 12px;
      background-color: #f2f2f2;
      border: 1px solid #f2f2f2;
    }

  }
  .search-message{
    float: left;
    margin: 0.9rem 0.9rem 0;
    width: 1.7rem;
    height: 1.7rem;
    background-image: url(./imgs/message.png);
    background-size: $size;
    background-repeat: $repeat;

  }


  .select{
    overflow-x: scroll;

    .select-top{
      text-align: center;
      line-height: 3rem;
      color: #919191;
      font-size: 13px;
      list-style: none;
      width: 40rem;
      height: 3rem;
      border-bottom: 1px solid 8dc73f;

      .link{
        text-decoration: none;
        color:#999;
      }
      .select-link{
        color: white;
      }

      .select-li{
        
        color: white;
        float: left;
        width: 5.5rem;
        height: 100%;
      }
    }
  }
  .select-check{
    background-color: #8dc73f;
  }


  .select-down{
    float: left;

    .select-down-top{
      color: #717171;
      font-size: 12px;
      list-style: none;
      width: 5.5rem;
      
      .select-down-li{
        padding-top: 0.5rem;
        background-color: #f2f2f2;
        text-align: center;
        line-height: 3rem;
        width: 5.5rem;
        height: 3rem;
        border-bottom: 1px solid #ececec;

        .link{
          text-decoration: none;
          color: #404040;

          span{  
            display: block;
            text-align: center;
            line-height: 2.5rem;
            width: 5.4rem;
            height: 2.5rem;
            
          
          }
          .seleck-down-check{
            border-left: 0.2rem solid #b3da7f; 
            height: 2.5rem;
            width: 5.4rem;
            color: #b3da7f;
          }
        }
      }
      .seleck-down-check-white{
        background-color: white;
      }

    }
  }

  .select-goods{
    float: right;

    ul{
    list-style: none;
      width: 19.5rem;

      li{
        margin-top: 1rem;
        width: 18.9rem;
        height: 11rem;
        border-bottom: 1px solid #eee;
        margin-left: 0.44rem;

        img{
          margin-right: 0.5rem;
          float: left;
          width: 5rem;
          height: 6rem;
          background: green;
        }

        .content{
          h2{

          }
          .introduce{
            diplay: block;
            line-height: 1.3rem;
            width:11rem;
            height: 2.5rem;
            color: #666;
            white-space: break-word;
            overflow:hidden;
            text-overflow:ellipsis; 
            
          }

          .weight{
            color: #666;
            display: block;
            margin-top: 0.5rem;
          }

          .unit-price{
            display: block;
            float:left;
            margin-top: 1rem;
            color: #ff3366;
            font-size: 16px;
          }

          .price-number{
            display: block;
            float: left;
            color: #999;
            margin-top: 1.3rem;
            font-size: 12px;
          }

          .shopping-cart{
            display: block;
            float: right;
            margin: 0.5rem 1rem;
            width: 2rem;
            height: 2rem;
            background-image: url(./imgs/ShoppingCart.png);
            background-size: $size;
            background-repeat:$repeat;
          }
        }
      }
    }
  }
}

  




