.shopping-cart{
  .interval{
    width: 100%;
    height: 0.5rem;
    background: #eee;
  }
  .trading{
    width: 100%;

  }
  .shop-name{
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid #eee;
    overflow: hidden;
  
    .check{
      float: left;
      width: 1.4rem;
      height: 1.4rem;
      border: 1px solid #999;
      border-radius: 50%;
      margin: 0.8rem; 
    }
    .check-item{
      border: 1px solid #9acd56;
      background-image: url(./imgs/good.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .name{
      float: left;
      margin: 0.9rem 0;
      .img{
        display: block;
        float: left;
        width: 1.2rem;
        height: 1.2rem;
        background-image: url(./imgs/shop-img.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .title{
        display: block;
        float: left;
        text-align: center;
        margin: 0 0.7rem;
      }
      .go{
        display: block;
        float: left;
        width: 1.2rem;
        height: 1.2rem;
        background-image: url(./imgs/shop-img.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }
    .remove{
      float: right;
      margin: 0.6rem 1.5rem;
      width: 1.5rem;
      height: 1.8rem;
      background-image: url(./imgs/shop-img.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
  ul{
    width: 100%;
    height: 6rem;
    li{
      width: 100%;
      height: 6rem;
      .imgs{
        float: left;
        width: 1.4rem;
        height: 1.4rem;
        border: 1px solid #999;
        border-radius: 50%;
        margin: 2.3rem 0.8rem; 
      }
      .check-item{
        border: 1px solid #9acd56;
        background-image: url(./imgs/good.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      img{
        float: left;
        width: 4.5rem;
        height: 4.5rem;
        background: red;
        margin: 0.75rem 0.5rem 0.75rem 0;
      }
      .content{
        float: left;
        width: 15rem;
        height: 4.5rem;
        margin: 0.75rem 0; 

        .introduce{
          overflow: hidden;
          font-size: 12px;
          line-height: 13px;
          width: 11rem;
          height: 2rem;
        }
        .price-number{
          
          width: 100%;
          height: 2.4rem;
          .price{
            display: block;
            float: left;
            width: 4rem;
            font-size: 16px;
            margin: 1.4rem 0;
            height: 1rem;
            color: #ff3366;
          }
          .adds{
            float: right;
            margin-top: 0.5rem;
            width: 6.7rem;
            height: 1.7rem;
            border: 1px solid #999; 
            .subtract{
              width: 2rem;
              height: 1.7rem;
              display: block;
              float: left;
              span{
                display: block;
                margin: 0.75rem auto;
                width: 1rem;
                height: 0.1rem; 
                background-image: url(./imgs/pop.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
              }
            }
            input{
              float: left;
              outline:none;
              text-align: center;
              width: 2.5rem;
              height: 1.7rem;
              border-style: none;
              border-left: 1px solid #999;
              border-right: 1px solid #999; 
            }
            .add{
              display: block;
              width: 2rem;
              height: 1.7rem;
              float: left;
              span{
                display: block;
                margin: 0.35rem auto;
                width: 1rem;
                height: 1rem; 
                background-image: url(./imgs/add.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
              }
            }

          }
        }
      }
    }
  }
  .settlement{
    position: fixed;
    border: 1px solid white;
    left: 0;
    bottom: 3.5rem;
    background: white;
    width: 100%;
    height: 3.5rem;
    .check{
      float: left;
      width: 1.4rem;
      height: 1.4rem;
      border: 1px solid #999;
      border-radius: 50%;
      margin: 0.8rem 0.3rem 0.8rem 0.8rem; 
    }
    .check-item{
      border: 1px solid #9acd56;
      background-image: url(./imgs/good.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .check-all{
      width: 3rem;
      float: left;
      display: block;
      line-height: 3.5rem;
      font-size: 16px;

    }
    .total{
        float: right;
        height: 3.5rem;
        line-height: 3.5rem;
        span{
          display: block;
          float: left;
        }
        .totals{
          color: #666;
        }
        .price{
          color: #ff3366;
          font-size: 16px;
        }
        .logistics{
          margin: 0 0.3rem;
          font-size: 12px;
        }
    }
    button{
      float: right;
      border-style: none;
      outline: none;
      width: 6.5rem;
      height: 100%;
      background: #9acd56;
      color: white;
      font-size: 14px;
    }
  }
}